$graycolor: #cecece;
$fontfamily: "Kanit", sans-serif;
@mixin displyFlex {
  display: flex;
  justify-content: space-around;
}
@mixin desktop {
  @media only screen and (min-width: 900px) {
    @content;
  }
}
.about-us-page {
  @include desktop {
    padding-top: 30px;
  }
  padding-top: 100px;
  p {
    padding: 0 1em;
    font-size: 16pt;
  }

  .form-container {
    padding: 1em;
    box-shadow: 1px 1px 20px darkgray;
    // margin: 1em;
    .submit-button-container {
      width: 250px;
      margin: 5px auto;
      button.submit-button {
        width: 250px;
        align-items: center;
        height: 40px;
        background-color: #fccc5c;
        border-radius: 5px;
      }
    }
  }
  .all-contact-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 3%;
  }
  .contact-info-wrapper {
    box-shadow: 1px 1px 20px darkgray;
    margin-right: 2em;
    display: grid;
    padding: 1em;
    .contact-info {
      .fa,
      .fas {
        color: navy;
      }
    }
  }
  .social-wrapper {
    //@include displyFlex;
    width: 40%;
    .social {
      width: 2em;
      height: 2em;
      // border: 1px solid red;
    }
    #fb {
      background: url(../assets/fb.png) no-repeat;
      background-position: center;
      background-size: 32%;
    }
    #tweeter {
      background: url(../assets/tweeterblue.png) no-repeat;
      background-position: center;
      background-size: 60%;
    }

    #email {
      background: url(../assets/blueemail.png) no-repeat;
      background-position: center;
      background-size: 60%;
    }
  }
  .working-hours {
    h4 {
      font-size: 1.5em;
    }
    ul {
      font-size: 60%;
      padding-left: 1em;
      li {
        list-style: none;
      }
    }
  }
  .contact-info-wrapper,
  .form-container {
    background-color: white;
  }
}
