.blog {
  .one-article {
    text-align: center;
    padding: 10px;
  }
  .article {
    background-color: white;
    text-align: center;
    padding: 10px;
    margin: 35px;
    box-shadow: 0 0 5px 5px darkgrey;
    text-align: center;
    padding: 10px;
    &:hover {
      text-decoration: none;
    }
    a {
      color: #000000;
      &:hover {
        text-decoration: none;
      }
      h2 {
        text-align: center;
        font-size: 19pt;
      }
      img {
        width: 70vw;
      }
      p {
        text-align: left;
      }
    }
  }
}
