@mixin tablet {
  @media only screen and (min-width: 570px) {
    @content;
  }
}
@mixin small-tablet {
  @media only screen and (min-width: 400px) {
    @content;
  }
}

@mixin desktop {
  @media only screen and (min-width: 900px) {
    @content;
  }
}

.booking-container {
  @include desktop {
    height: 65vh;
    top: 8em;
  }
  width: 70vw;
  height: 55vh;
  background-color: white;
  border: 1px solid #cecece;
  position: fixed;
  top: 18em;
  left: 15%;
  transform: scale(0.1);
  opacity: 0;
  transition: transform 0.2s ease-out, opacity 0.2s;
  padding: 2em 1em;
  span {
    color: rgba(255, 0, 0, 0.534);
    font-size: 15pt;
    margin-right: 10vw;
  }
  .closebtn {
    span {
      @include desktop {
        right: -4em;
      }
      color: black;
      position: absolute;
      right: -1em;
      top: 0.5em;
    }
  }
  .submit-booking-btn {
    text-align: center;
    #submit-booking {
      @include desktop {
        width: 33%;
      }
      text-align: center;
      vertical-align: center;
      height: 35px;
      width: 70%;
      margin: 0 auto;
      background-color: #fccc5c;
      border-radius: 5px;
    }
  }
}
.open-modal {
  transform: scale(1);
  opacity: 1;
}
