.filterContainer {
  background-image: url(../assets/bgforsearch.png);
  height: 31vh;
  background-size: 100%;
  background-repeat: no-repeat;
  // margin-top: 10em;
  h2 {
    color: white;
    padding-top: 2em;
  }
  .selects-wrapper {
    margin-top: 1.5em;
    display: flex;
    justify-content: space-around;
    select {
      width: 23%;
      height: 35px;
      background-color: rgba(0, 0, 0, 0.6);
      border: none;
    }
  }
  #model,
  #make,
  #year {
    color: white;
    margin-left: 0 auto;
    font-family: "PT Sans", sans-serif;
    font-size: 15px;
  }
  .main-container {
    display: grid;
    .submit-btn {
      padding-top: 1em;
      text-align: center;
      button {
        width: 87%;
        background-color: #fccc5c;
        border-radius: 5px;
        border: none;
      }
    }
  }
}
