@mixin display-grid {
  display: -ms-grid;
  display: grid;
}

.catContainer {
  background-color: white;
  padding: 20px;
  h2 {
    padding-bottom: 20px;
  }
  .category-buttons {
    text-align: center;

    margin: 0 auto;
    @include display-grid;
    grid-gap: 15px;
    grid-template-columns: repeat(2, 1fr);
    h3 {
      font-size: 1em;
    }
    img {
      height: 50px;
    }
  }
  #family {
    padding-bottom: 6px;
  }
}
