.form-container {
  background-color: #fff;
  padding: 1em;
  .submit-button {
    text-align: center;
    vertical-align: center;
    height: 30px;
    width: 97%;
    margin: 0 auto;
    background-color: #fccc5c;
    border-radius: 5px;
  }

  .required {
    color: rgba(255, 0, 0, 0.534);
    font-size: 15pt;
    margin-right: 20vw;
  }
}
