.finance-page {
  h3 {
    font-size: 6vw;
    text-align: center;
  }
  h2 {
    font-size: 7vw;
    text-align: center;
  }
  p {
    text-align: left;
  }
  form {
    width: 90vw;
    margin: 0 auto;

    .personal-info,
    .residence-info,
    .employment-info {
      padding: 1em;
      box-shadow: 1px 1px 20px darkgray;
      background-color: white;
      margin: 20px;
      .input-field {
        margin: 10px;
        width: 70vw;
        .employment-years,
        .employment-months,
        .residence-years,
        .residence-months {
          width: 105px;
          display: inline-block;
        }
        .employment-months,
        .residence-months {
          margin-left: 10px;
        }
        input,
        select {
          background-color: white;
          display: block;
          width: 220px;
          height: 25px;
          border: 1px solid grey;
        }
        select {
          height: 28px;
        }

        label {
          color: black;
          margin-bottom: 0;
        }

        .required {
          color: rgba(255, 0, 0, 0.534);
          font-size: 15pt;
          margin-right: 20vw;
        }
        // div.date-text {
        //   border-bottom: 1px solid #ced4da;
        //   margin-top: 1.5rem;
        //   margin-bottom: 1.5rem;
        // }
        span.errorMessage {
          color: red;
        }
        .error {
          border: 5px solid red;
        }
      }
    }
    .submit-btn {
      text-align: center;
      vertical-align: center;
      height: 40px;
      width: 87%;
      margin: 0 auto;
      background-color: #fccc5c;
      border-radius: 5px;
    }
  }
}
