form {
  .personal-info {
    background-color: #c4c4c4;
    // .input-field {
    //   border-bottom: 1px solid #ced4da;

    //   input {
    //     background-color: #c4c4c4;
    //     border: none;
    //     height: 50px;
    //   }

    //   select {
    //     background-color: #c4c4c4;
    //     border-color: #c4c4c4;
    //   }
    //   label {
    //     color: #757575;
    //   }
    //   label.active {
    //     border-bottom: none;
    //   }
    .required {
      color: rgba(255, 0, 0, 0.534);
      font-size: 20pt;
      top: 5%;
      left: 7em;
    }
    //   div.date-text {
    //     border-bottom: 1px solid #ced4da;
    //     margin-top: 1.5rem;
    //     margin-bottom: 1.5rem;
    //   }
    span.errorMessage {
      color: red;
    }
    .error {
      border: 5px solid red;
    }
    // }
  }
}
