@mixin tablet {
  @media only screen and (min-width: 570px) {
    @content;
  }
}
@mixin small-tablet {
  @media only screen and (min-width: 400px) {
    @content;
  }
}
@mixin desktop {
  @media only screen and (min-width: 900px) {
    @content;
  }
}
@mixin big-desktop {
  @media only screen and (min-width: 1300px) {
    @content;
  }
}
@mixin display-grid {
  display: -ms-grid;
  display: grid;
}

.header {
  position: fixed;
  width: 100vw;
  padding: 0.5em;
  border-bottom: 2px solid darkgray;
  background-color: $graycolor;
  z-index: 500;
  @include tablet {
    
    @include display-grid;
    grid-template-columns: repeat(2, auto);
  }
  @include small-tablet {
    
  }
  @include desktop {
    width: 100vw;
  }
  @include big-desktop {
    
  }
  a {
    @include tablet {
      grid-column: 1;
      margin-left: 1.4vw;
      margin-top: 5%;
    }
    @include tablet {
      
      margin: 25px 0 25px 25px;
    }

    .logoImage {
      width: 50px;
      display: inline-block;
      @include tablet {
        width: 80px;
        display: inline-block;
      }
      @include desktop {
        width: 100px;
      }
    }
  }

  h5 {
    font-size: 14pt;
    display: inline-block;
    position: absolute;
    bottom: 5%;
    right: 30%;
    font-family: "Kanit", sans-serif;
    @include tablet {
      top: 80%;
      right: 35%;
    }
    @include desktop {
      display: none;
    }
  }
  .active {
    border-bottom: red 3px solid;
  }

  nav {
    margin: 0 auto;
    display: none;
    width: 100%;
    grid-column: 2;
    @include tablet {
      display: inline-block;
      margin-top: 50px;
    }
    @include desktop {
      margin-top: 50px;
    }

    ul {
      list-style: none;
      padding-left: 0;
      @include tablet {
        margin: 0 auto;
      }

      li {
        cursor: pointer;
        display: inline-block;
        padding: 0 1em;
        @include tablet {
          font-size: 15pt;
          padding: 0 0.4em;
        }

        @include desktop {
          font-size: 2.8vw;
        }
        @include big-desktop {
          font-size: 1.8vw;
        }

        a {
          text-decoration: none;
          color: black;
          font-family: $fontfamily;
          @include tablet {
      margin-left: 10px;
          }
      
        }
        a:hover {
          color: #999b98;
          text-decoration: none;
        }
      }
    }
  }
}
