header {
  position: fixed;
  width: 100vw;
  padding: 0.5em;
  border-bottom: 2px solid darkgray;
  background-color: $graycolor;
  z-index: 500;

  .logoImage {
    width: 50px;
    display: inline-block;
  }

  h5 {
    font-size: 14pt;
    display: inline-block;
    position: absolute;
    bottom: 5%;
    right: 30%;
    font-family: "Kanit", sans-serif;
  }
  .active {
    border-bottom: red 3px solid;
  }

  nav {
    margin: 0 auto;
    display: none;
    @media only screen and (min-width: 576px) {
      //   position: absolute;
      //   left: 20%;
      //   top: 0;
      display: block;
    }

    ul {
      font-size: 25pt;
      list-style: none;
      @media only screen and (max-width: 370px) {
        padding: 5px;
      }
      li {
        cursor: pointer;
        display: inline-block;
        padding: 0 1em;
        @media only screen and (max-width: 370px) {
          font-size: 17pt;
        }

        a {
          text-decoration: none;
          color: black;
          font-family: $fontfamily;
        }
        a:hover {
          color: #999b98;
          text-decoration: none;
        }
      }
    }
  }
}
