//@import "membership-car";
//@import "carfilter";
//@import "reviews";
//@import "catFilter";
//@import "teenageroffers";
//@import "landingpageFooter";

$graycolor: #cecece;
$redcolor: #e52528;
$fontfamily: "Kanit", sans-serif;

@mixin tablet {
  @media only screen and (min-width: 570px) {
    @content;
  }
}
@mixin small-tablet {
  @media only screen and (min-width: 400px) {
    @content;
  }
}

@mixin desktop {
  @media only screen and (min-width: 900px) {
    @content;
  }
}
@mixin big-desktop {
  @media only screen and (min-width: 1300px) {
    @content;
  }
}
@mixin display-grid {
  display: -ms-grid;
  display: grid;
}
.home-wrapper {
  .home {
    @include desktop {
      @include display-grid;
      grid-gap: 15px;
      grid-template-rows: repeat(4, auto);
      grid-template-columns: (1fr 3fr);
      background-color: #fff;
    }

    .membership-container {
      padding-top: 100px;
      padding-bottom: 150px;
      @include small-tablet {
        padding-top: 30px;
      }
      @include tablet {
        padding-top: 10px;
        padding-bottom: 10px;
        width: 100vw;
        @include display-grid;
        grid-gap: 15px;
        grid-template-columns: repeat(2, 1fr);
      }
      @include desktop {
        display: block;
        height: 450px;
        grid-gap: 15px;
        grid-column: 2/3;
        grid-row: 1/2;
        padding-top: 0;
        background-color: #cecece;
        margin-top: 20px;
        width: 100%;
      }
      img {
        width: 60vw;
        height: auto;
        position: absolute;
        right: 0;
        top: 13em;
        @include small-tablet {
          top: 170px;
          width: 50vw;
        }
        @include tablet {
          width: 50vw;
          height: auto;
          position: relative;
          top: 0;
        }
        @include desktop {
          position: absolute;
          top: 220px;
          right: 0;
          width: 400px;
        }
      }

      .clickable-area {
        position: relative;
        background-color: rgba(0, 0, 0, 0.4);
        width: 75vw;
        border-radius: 10px;
        margin: 10px auto;
        @include small-tablet {
          width: 65vw;
          margin: 0 5vw;
        }
        @include tablet {
          width: 46vw;
          margin: 0 5vw;
        }
        @include desktop {
          position: relative;
          width: 45vw;
          margin: 15px 15px 0 15px;
          margin-right: auto;
        }
        cursor: pointer;
        h2 {
          color: #fccc5c;
          @include desktop {
            font-size: 2rem;
          }
        }
        ul {
          padding: 10px;
          text-align: center;
          li {
            list-style: none;
            font-size: 1rem;
            color: white;
            text-align: left;
            @include desktop {
              list-style: none;
              font-size: 1.5rem;
              color: white;
              text-align: left;
            }
          }
        }
        .arrow {
          width: 30px;
          position: absolute;
          top: 66%;
        }
      }
    }

    .offers-container {
      display: flex;
      justify-content: center;
      margin-top: 1em;
      background-color: white;
      width: 100vw;
      @include desktop {
        grid-column: 2/3;
        grid-row: 2/3;
        width: 600px;
        margin: 0 auto;
      }
      a {
        color: black;
      }
      .offers {
        background-color: #fccc5c;
        text-align: center;
        padding: 1em;
        width: 100%;
        margin: 24px auto;
        border-radius: 10px;
        position: relative;
        @include desktop {
          grid-column: 2/3;
          grid-row: 2/3;
          width: 600px;
          margin: 0 auto;
        }
        h2 {
          padding-bottom: 15px;
        }
        .arrow {
          width: 30px;
          position: absolute;
          bottom: 5%;
          right: 0.3%;
        }
      }
    }
    .catContainer {
      background-color: white;
      padding: 20px;
      @include desktop {
        grid-column: 2/3;
        grid-row: 3/4;
        width: 100%;
      }
      h2 {
        padding-bottom: 20px;
      }
      .category-buttons {
        text-align: center;
        margin: 0 auto;
        @include display-grid;
        grid-gap: 15px;
        grid-template-columns: repeat(2, 1fr);
        h3 {
          font-size: 1em;
        }
        img {
          height: 50px;
          @include desktop {
            height: 70px;
          }
        }
      }
      #family {
        padding-bottom: 4px;
      }
    }

    .filterContainer {
      background-image: url(../assets/bgforsearch.png);
      height: 32vh;
      background-size: 100%;
      background-repeat: no-repeat;
      @include desktop {
        grid-column: 2/3;
        grid-row: 4/5;
        width: 600px;
        margin: 0 auto 2em auto;
      }
      h2 {
        color: white;
        padding-top: 1em;
      }
      .selects-wrapper {
        margin-top: 1.5em;
        display: flex;
        justify-content: space-around;
        select {
          width: 23%;
          height: 35px;
          background-color: rgba(0, 0, 0, 0.6);
          border: none;
        }
      }
      #model,
      #make,
      #year {
        color: white;
        margin-left: 0 auto;
        font-family: "PT Sans", sans-serif;
        font-size: 15px;
      }
      .main-container {
        @include desktop {
          margin-top: 60px;
        }
        .submit-btn {
          padding-top: 1em;
          text-align: center;
          button {
            width: 87%;
            background-color: #fccc5c;
            border-radius: 5px;
            border: none;
            @include desktop {
              width: 200px;
            }
          }
        }
      }
    }
    .reviews {
      justify-content: center;
      grid-gap: 30px;
      background-color: white;
      padding: 2em;
      @include desktop {
        grid-column: 1;
        grid-row: 1/4;
        width: 25vw;
        padding: 1.3em;
      }

      .reviews-container {
        margin: 0 auto 30px auto;
        background-color: #cecece;
        height: 50vh;
        overflow-y: scroll;
        padding: 1.2em;
        line-height: 0;
        @include desktop {
          padding: 0.5em;
          margin: 0 auto 30px auto;
          line-height: 1.3em;
          height: 80vh;
        }

        .review-posts {
          border-bottom: 2px solid darkgray;

          h4 {
            font-size: 1rem;
            margin-bottom: 8px;
          }

          span {
            img {
              margin-bottom: 15px;
            }
          }
        }
      }
      .review-input {
        background-color: #cecece;

        padding: 1em;
        @include small-tablet {
          padding: 0 20%;
        }
        @include desktop {
          padding: 0 5px;
        }

        .name,
        .stars {
          display: inline-block;
          margin-bottom: 15px;
          width: 100%;
          position: relative;
          @include desktop {
            display: block;
            margin-bottom: 5px;
          }

          label {
            margin-bottom: 0;
            text-align: right;
          }
          input {
            width: 150px;
            position: absolute;
            right: 0;
            border: none;
            @include small-tablet {
              width: 70%;
            }
            @include desktop {
              width: 100%;
              position: relative;
            }
          }
        }
        .stars {
          width: 100%;
          @include desktop {
            width: 100%;
          }
          select {
            width: 148px;
            border-radius: 0;
            border: 2px white solid;
            background-color: transparent;
            position: absolute;
            right: 0;
            @include small-tablet {
              width: 70%;
            }
            @include desktop {
              width: 100%;
              position: relative;
            }
          }
        }
        .feedback {
          position: relative;
          width: 100%;

          textarea {
            width: 150px;
            height: 35px;
            position: absolute;
            right: 0;
            border: none;
            @include small-tablet {
              width: 70%;
            }
            @include desktop {
              width: 100%;
              position: relative;
            }
          }
        }
        .submit-input-container {
          width: 200px;
          margin: 15px auto;
          @include small-tablet {
            width: 280px;
            margin: 15px auto;
          }
          @include desktop {
            width: 100%;
            position: relative;
          }
          .submit-button {
            text-align: center;
            height: 30px;
            width: 97%;
            margin: 15px auto;
            background-color: #fccc5c;
            border-radius: 5px;
          }
        }
      }
    }

    .landing-page-footer {
      background-color: #fff;
      @include desktop {
        grid-column: 1;
        grid-row: 4;
        width: 100%;
      }
      .soMe {
        @include display-grid;
        @include desktop {
          width: 100%;
          display: block;
          grid-template-columns: repeat(2, 1fr);
        }

        .l-footer {
          @include desktop {
            //width: 80%;
          }
        }
        .contactinfo-container {
          @include desktop {
            width: 87%;
            margin: 0 auto;
            height: 32vh;
            border: 1px solid #cecece;
            padding-top: 1em;
            display: grid;
            align-items: center;
          }
          padding: 0.6em;
          .soMe-icons {
            display: flex;
            align-items: center;
            justify-content: space-around;

            img {
              width: 30px;
            }
            #fb {
              width: 18px;
            }
          }
          .phone-address {
            margin-top: 32px;
            margin-left: 10px;
            display: grid;
            justify-content: center;
            .phone,
            .address {
              display: flex;

              img {
                height: 20px;
                width: 15px;
              }
              p {
                padding-left: 6px;
              }
            }
          }
        }
      }
      iframe {
        width: 100vw;
      }
    }
  }
}
.copyright {
  p {
    text-align: center;
    font-family: "Questrial", sans-serif;
    padding: 1em;
    border-top: #cecece 1px solid;
  }
}
