//@import "membership-car";
//@import "carfilter";
//@import "reviews";
//@import "catFilter";
//@import "teenageroffers";
//@import "landingpageFooter";

$graycolor: #cecece;
$redcolor: #e52528;
$fontfamily: "Kanit", sans-serif;

@mixin flex-display {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

@mixin tablet {
  @media only screen and (min-width: 570px) {
    @content;
  }
}
@mixin small-tablet {
  @media only screen and (min-width: 400px) {
    @content;
  }
}

@mixin desktop {
  @media only screen and (min-width: 900px) {
    @content;
  }
}
@mixin big-desktop {
  @media only screen and (min-width: 1300px) {
    @content;
  }
}
@mixin display-grid {
  display: -ms-grid;
  display: grid;
}

.home {
  @include tablet {
    padding-top: 50px;
  }
  @include big-desktop {
    padding-top: 180px;
    @include display-grid;
    grid-gap: 25px;
    grid-template-rows: repeat(5, auto);
    grid-template-columns: repeat(4, 1fr);
    background-color: #fff;
  }

  .membership-container {
    padding: 100px 0 150px 0;

    @include small-tablet {
      width: 100vw;
      margin: 0 auto;
      @include display-grid;
      grid-gap: 15px;
      grid-template-columns: repeat(2, 1fr);
    }
    @include tablet {
      padding: 150px 0 15px 0;
      width: 100vw;
      margin: 0 auto;
      @include display-grid;
      grid-gap: 15px;
      grid-template-columns: repeat(2, 1fr);
    }
    @include big-desktop {
      padding: 35px 0 15px 0;
      display: block;
      height: 500px;
      grid-gap: 15px;
      grid-column: 2/5;
      grid-row: 1;
      background-color: #cecece;
      margin: 0 auto;
      width: 100%;
      margin-top: 17px;
    }

    img {
      width: 60vw;
      height: auto;
      position: absolute;
      right: 0;
      top: 13em;
      @include small-tablet {
        top: 170px;
        width: 250px;
      }
      @include tablet {
        height: auto;
        top: 130px;
      }
      @include big-desktop {
        position: absolute;
        top: 280px;
        right: 0;
        width: 400px;
      }
    }
    a {
      &:hover {
        text-decoration: none;
      }
      .clickable-area {
        position: relative;
        background-color: rgba(0, 0, 0, 0.4);
        width: 75vw;
        border-radius: 10px;
        margin: 10px auto;
        @include small-tablet {
          width: 65vw;
          margin: 0 5vw;
        }
        @include tablet {
          width: 46vw;
          margin: 0 5vw;
        }
        @include big-desktop {
          position: relative;
          width: 50%;
          padding: 30px;
          margin: 0 auto 0 45px;
        }
        cursor: pointer;
        h2 {
          color: #fccc5c;
          @include desktop {
            font-size: 2rem;
          }
        }
        ul {
          padding: 10px;
          text-align: center;
          li {
            list-style: none;
            font-size: 1rem;
            color: white;
            text-align: left;
            @include desktop {
              list-style: none;
              font-size: 1.5rem;
              color: white;
              text-align: left;
            }
          }
        }
        .arrow {
          width: 30px;
          position: absolute;
          top: 66%;
          @include desktop {
            width: 50px;
          }
        }
      }
    }
  }

  .offers-container {
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 1em;
    border-radius: 10px;
    position: relative;
    margin-top: 1em;
    background-color: #fccc5c;
    width: 100vw;
    @include big-desktop {
      grid-column: 4/5;
      grid-row: 2;
      width: 320px;
      height: 320px;
      margin: 20px auto;
      padding: 110px 15px;
    }
    a {
      color: black;
    }

    h2 {
      padding-bottom: 15px;
      @include big-desktop {
      }
    }
    .arrow {
      width: 30px;
      position: absolute;
      bottom: 5%;
      right: 0.3%;
      @include desktop {
        width: 50px;
      }
    }
  }
  .catContainer {
    background-color: white;
    padding: 20px;
    @include big-desktop {
      grid-column: 2/4;
      grid-row: 2;
      width: 100%;
      margin: 0 auto;
    }
    h2 {
      padding-bottom: 20px;
    }
    .category-buttons {
      text-align: center;
      margin: 0 auto;
      @include display-grid;
      grid-gap: 15px;
      grid-template-columns: repeat(2, 1fr);
      h3 {
        font-size: 1em;
      }
      img {
        height: 50px;
        @include big-desktop {
          height: 100px;
        }
      }
    }
    #family {
      padding-bottom: 4px;
    }
  }

  .filterContainer {
    background-image: url(../assets/bgforsearch.png);
    height: 32vh;
    background-size: 100%;
    background-repeat: no-repeat;
    width: 100vw;
    @include small-tablet {
      height: 250px;
    }
    @include tablet {
      height: 55vh;
      background-image: url(../assets/bgforsearch.png);
    }
    @include big-desktop {
      height: 400px;
      grid-column: 2/5;
      grid-row: 3;
      width: 100%;
      @include display-grid;
      grid-template-columns: (1fr 1.5fr);
    }
    h2 {
      color: black;
      padding-top: 1em;
      @include big-desktop {
        padding: 16vh;
      }
    }
    .main-container {
      @include big-desktop {
        margin-top: 70px;
      }
      .selects-wrapper {
        margin-top: 1.5em;
        display: flex;
        justify-content: space-around;
        @include desktop {
          padding: 4vh;
        }
        select {
          width: 23%;
          height: 35px;
          background-color: rgba(0, 0, 0, 0.6);
          border: none;

          @include tablet {
            height: 45px;
          }
          @include desktop {
            width: 26%;
            height: 55px;
          }
        }
        #model,
        #make,
        #year {
          color: white;
          margin-left: 0 auto;
          font-family: "PT Sans", sans-serif;
          font-size: 15px;
          @include tablet {
            font-size: 20px;
          }
          @include desktop {
            font-size: 24px;
          }
        }
      }

      .submit-btn {
        padding-top: 1em;
        text-align: center;
        button {
          width: 87%;
          background-color: #fccc5c;
          border-radius: 5px;
          border: none;
          @include tablet {
            margin-top: 30px;
            width: 300px;
            height: 40px;
            font-size: 24px;
            @include desktop {
              margin-top: 0px;
            }
          }
        }
      }
    }
  }
  .reviews {
    justify-content: center;
    background-color: white;
    padding: 1em;

    @include big-desktop {
      width: 85%;
      grid-column: 1;
      grid-row: 1/3;
      padding: 20px 0.3em;
      margin: 0px auto;
    }

    .reviews-container {
      margin: 0 auto 30px auto;
      background-color: #cecece;
      height: 50vh;
      overflow-y: scroll;
      padding: 1.2em;
      line-height: 0;
      width: 100%;
      @include tablet {
        width: 85%;
      }
      @include big-desktop {
        padding: 30px;
        width: 100%;
        line-height: 1.3em;
        height: 500px;
      }

      .review-posts {
        border-bottom: 2px solid darkgray;

        h4 {
          font-size: 1.5rem;
          margin-bottom: 8px;
          @include tablet {
            font-size: 18pt;
          }
        }

        span {
          img {
            margin-bottom: 15px;
          }
        }
      }
    }
    .review-input {
      background-color: #cecece;

      padding: 1em;
      @include small-tablet {
        padding: 0 20%;
      }
      @include tablet {
        width: 85%;
        margin: 0 auto;
        height: 330px;
        padding: 20px 20%;
      }
      @include desktop {
        padding: 40px;
        width: 85%;
        height: 340px;
      }
      @include big-desktop {
        padding: 30px;
        width: 100%;
        height: 470px;
      }

      .name,
      .stars {
        display: inline-block;
        margin-bottom: 15px;
        width: 100%;
        position: relative;
        @include tablet {
          margin-bottom: 30px;
        }
        @include big-desktop {
          display: block;
          margin-bottom: 20px;
        }

        label {
          font-size: 15pt;
          margin-bottom: 0;
          text-align: right;

          @include desktop {
            font-size: 18pt;
          }
        }
        input {
          width: 180px;
          height: 30px;
          position: absolute;
          right: 0;
          border: none;
          @include small-tablet {
            width: 70%;
          }
          @include tablet {
            width: 70%;
            height: 40px;
          }
          @include desktop {
            width: 70%;

            height: 40px;
            // margin: 0 auto;
          }
          @include big-desktop {
            width: 100%;
            position: relative;
            height: 40px;
          }
        }
      }
      .stars {
        width: 100%;
        height: 30px;
        @include big-desktop {
          width: 100%;
        }
        select {
          width: 179px;
          border-radius: 0;
          border: 2px white solid;
          background-color: transparent;
          position: absolute;
          right: 0;
          height: 30px;
          @include small-tablet {
            width: 70%;
          }
          @include tablet {
            height: 40px;
          }
          @include big-desktop {
            width: 100%;
            position: relative;
          }
        }
      }
      .feedback {
        position: relative;
        width: 100%;
        @include big-desktop {
          margin-top: 55px;
        }
        label {
          font-size: 15pt;
          @include tablet {
            font-size: 14pt;
          }
          @include desktop {
            font-size: 18pt;
          }
        }
        textarea {
          width: 179px;
          height: 45px;
          position: absolute;
          right: 0;
          border: none;
          @include small-tablet {
            width: 70%;
          }
          @include desktop {
            height: 60px;
          }
          @include big-desktop {
            width: 100%;
            position: relative;
            height: 50px;
          }
        }
      }
      .submit-input-container {
        width: 200px;
        margin: 15px auto;

        @include small-tablet {
          width: 280px;
          margin: 15px auto;
        }

        @include desktop {
          width: 300px;
          position: relative;
          margin: 30px auto;
        }
        @include big-desktop {
          margin: 17px auto;
          width: 250px;
        }
        .submit-button {
          margin-top: 25px;
          text-align: center;
          height: 50px;
          width: 97%;
          background-color: #fccc5c;
          border-radius: 5px;
          @include tablet {
            margin-top: 30px;
            width: 300px;
            height: 40px;
            font-size: 24px;
          }
          @include desktop {
            width: 300px;
            height: 40px;
            font-size: 24px;
            margin-top: 0px;
          }
          @include desktop {
            width: 250px;
          }
        }
      }
    }
  }
  #car-back {
    display: none;
    @include big-desktop {
      display: block;
      grid-column: 1;
      grid-row: 3;
      width: 90%;
    }
  }

  .map {
    width: 100vw;

    @include desktop {
      width: 90%;
      margin: 0 auto;
      grid-column: 1/3;
      grid-row: 4;
      border: 1px solid $graycolor;
    }
    iframe {
      width: 100%;
      @include desktop {
        padding: 3%;
      }
    }
  }

  .contactinfo-container {
    padding: 0.6em;
    padding: 0;
    width: 100%;
    margin: 0 auto;
    text-align: center;

    @include desktop {
      width: 90%;
      grid-column: 3/5;
      grid-row: 4;
      border: 1px solid $graycolor;
      text-align: center;
    }
    @include big-desktop {
      padding: 3% 0;
    }

    .soMe-icons {
      img {
        width: 30px;
        margin-right: 20px;
        @include desktop {
          width: 50px;
          margin-right: 20px;
        }
      }
      #fb {
        width: 18px;
        @include desktop {
          width: 25px;
        }
      }
    }
    .phone-address {
      margin-top: 15px;
      margin-left: 10px;
      @include tablet {
      }
      .phone,
      .address {
        img {
          display: inline-block;
          height: 20px;
          width: 15px;
          @include desktop {
          }
        }
        p {
          padding-left: 6px;
          display: inline-block;
          @include desktop {
          }
        }
      }
    }
  }

  .copyright {
    font-size: 10pt;
    background-color: white;
    text-align: center;
    font-family: "Questrial", sans-serif;
    padding: 1em;
    border-top: #cecece 1px solid;
    grid-column: 1/5;
    grid-row: 5;
    margin-bottom: 0;
    width: 100vw;
  }
}
