body {
  h2,
  li {
    font-family: "Questrial", sans-serif;
    color: #000000;
  }
}
.membership {
  width: 60vw;
  height: 30vw;
  border: 1px solid black;
  border-radius: 20px;
}
ul {
  li {
    list-style: none;
  }
}
