@mixin flex-display {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

@mixin tablet {
  @media only screen and (min-width: 570px) {
    @content;
  }
}
@mixin small-tablet {
  @media only screen and (min-width: 400px) {
    @content;
  }
}

@mixin desktop {
  @media only screen and (min-width: 900px) {
    @content;
  }
}
@mixin big-desktop {
  @media only screen and (min-width: 1300px) {
    @content;
  }
}
@mixin display-grid {
  display: -ms-grid;
  display: grid;
}

.carList {
  width: 100%;
  padding-top: 80px;
  h3 {
    padding: 20px;
    padding-bottom: 0;
    @include tablet {
      margin-top: 100px;
    }
  }
  button {
    padding: 10px;
    font-size: 13pt;
    margin: 0 0px;
    background-color: #fccc5c;
    border-radius: 10px;
  }
  #priceAsc {
    margin-left: 20px;
  }
  .car-posts {
    @include tablet {
      @include display-grid;
      grid-template-columns: repeat(2, 1fr);
    }
    @include desktop {
      @include display-grid;
      grid-template-columns: repeat(3, 1fr);
      padding: 5vw;
    }
    @include big-desktop {
      @include display-grid;
      grid-template-columns: repeat(4, 1fr);
      grid-gap: 1vw;
    }
    .car {
      box-shadow: 1px 1px 20px darkgray;
      position: relative;
      background-color: white;
      text-align: center;
      padding: 20px;
      margin: 25px;
      @include big-desktop {
        margin: 0;
      }

      &:hover {
        text-decoration: none;
      }
      a {
        color: #000000;
        &:hover {
          text-decoration: none;
        }

        img {
          width: 100%;
        }
        p {
          text-align: left;
          &.member-price {
            span {
              color: #e52528;
            }
          }
        }
        .arrow {
          width: 30px;
          position: absolute;
          bottom: 5%;
          right: 2%;
        }
      }
    }
  }
}
