.carList {
  padding-top: 80px;
  .car {
    position: relative;
    background-color: white;
    text-align: center;
    padding: 20px;
    margin: 25px;
    box-shadow: 0 0 5px 5px darkgrey;
    &:hover {
      text-decoration: none;
    }
    a {
      color: #000000;
      &:hover {
        text-decoration: none;
      }

      img {
        width: 100%;
      }
      p {
        text-align: left;
        &.member-price {
          span {
            color: #e52528;
          }
        }
      }
      .arrow {
        width: 30px;
        position: absolute;
        bottom: 5%;
        right: 2%;
      }
    }
  }
}
