@mixin tablet {
  @media only screen and (min-width: 570px) {
    @content;
  }
}
@mixin small-tablet {
  @media only screen and (min-width: 400px) {
    @content;
  }
}
@mixin desktop {
  @media only screen and (min-width: 900px) {
    @content;
  }
}
.membership-form {
  padding: 110px 15px 15px 15px;
  .membership-form-container {
    width: 90vw;
    margin: 0 auto;

    form {
      padding: 1em;
      background-color: white;
      margin-top: 20px;
      .input-field {
        margin: 0 auto 10px auto;
        width: 220px;

        input {
          background-color: white;
          display: block;
          width: 320px;
          height: 25px;
          border: 1px solid grey;
        }

        label {
          color: black;
          margin-bottom: 0;
        }
      }
      .submit-button-container {
        width: 250px;
        margin: 5px auto;
        button.submit-button {
          width: 250px;
          align-items: center;
          height: 40px;
          background-color: #fccc5c;
          border-radius: 5px;
        }
      }
    }
  }
  #li-wrapper {
    padding: 2em;
    li {
      list-style: none;
      text-align: center;
    }
  }
}

.feedback-modal {
  background-color: white;
  border: 2px solid #fccc5c;
  width: 60%;
  height: 100%;
  margin: 2em auto;
  transform: scale(0);
  opacity: 0;
  transition: all 0.2s ease-out;
  position: absolute;
  #close {
    text-align: center;
    margin: 5em auto;
    border: 1px white solid;
    border-radius: 10px;
    width: 40%;
  }
}
.feedback-open {
  transform: scale(1);
  opacity: 1;
  padding: 1em;
  position: fixed;
  right: 0;
  left: 0;
  height: 41vh;
}
