.membership-container {
  padding-top: 100px;
  padding-bottom: 150px;
  img {
    width: 60vw;
    height: auto;
    position: absolute;
    right: 0;
    top: 13em;
  }

  .clickable-area {
    position: relative;
    background-color: rgba(0, 0, 0, 0.4);
    width: 75vw;
    border-radius: 10px;
    margin: 10px auto;
    cursor: pointer;
    h2 {
      
      color: #fccc5c;
    }
    ul {
      padding: 10px;
      text-align: center;
      li {
        list-style: none;
        font-size: 1rem;
        color: white;
        text-align: left;
      }
    }
    .arrow {
      width: 30px;
      position: absolute;
      top: 66%;
    }
  }
}
