.one-car {
  h4 {
    text-align: center;
  }
  padding: 10px;
  img {
      display: block;
    width: 80vw;
    margin: 0 auto;
  }
  .kbb {
    width: 10vw;
    text-align: left;
    margin: 0 0;
  }
  p {
    text-align: left;
  }
}
