.one-car {
  padding: 100px 10px 10px 10px;
  
  
  .carousel {
    position: relative;
    img {
      display: block;
      width: 80vw;
      height: auto;
      margin: 0 auto;
    }
    .arrow {
      width: 25px;
      height: auto;
      position: absolute;
      top: 42%;
      z-index: 500;
    }
    .back-arrow {
      left: -2%;
    }
    .forward-arrow {
      right: -2%;
    }
  }
  .kbb {
    width: 10vw;
    text-align: left;
    margin: 0 0;
  }
  p {
    text-align: left;
  }
}
