.reviews {
  display: grid;
  justify-content: center;
  grid-gap: 30px;
  background-color: white;
  padding: 2em;
  h2 {
    font-size: 1.3rem;
  }
  h4 {
    font-size: 1rem;
  }
  .reviews-container {
    height: 31vh;
    background-color: #cecece;
    border-radius: 25px;
    overflow-y: scroll;
    padding: 1.2em;
  }
  .review-input {
    background-color: #cecece;
    border-radius: 25px;
    padding: 1.2em;
  }
}
#rate-input {
  background-color: transparent;
  border: 2px white solid;
}
