.side-drawer {
  background-color: black;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  width: 70%;
  max-width: 95vw;
  z-index: 1000;
  transform: translateX(100%);
  transition: transform 0.2s ease-out;
  ul {
    display: unset;
    list-style: none;
    li {
      padding: 0.8em 1.3em;
      a {
        text-decoration: none;
        color: white;
        font-family: $fontfamily;
        font-size: 1.7em;
      }
    }
  }
  .close-button {
    position: absolute;
    right: 0.5rem;
    top: 1rem;
    background-color: transparent;
    border: none;

    span {
      color: white;
      width: 30px;
      font-size: 1.9em;
    }
  }
}
.side-drawer.open {
  transform: translateX(0);
}
