.offres-container {
  display: flex;
  justify-content: center;
  margin-top: 1em;
  background-color: white;
  a {
    color: black;
  }
  .offers {
    background-color: #fccc5c;
    text-align: center;
    padding: 1em;
    width: 100%;
    margin: 24px auto;
    border-radius: 10px;
    h2 {
      font-size: 1.5em;
    }
  }
}
