@import "home";
@import "inventory";
@import "finance";
@import "about";
@import "header";
@import "sidebar";
@import "toggleButton";
@import "backdrop";
@import "blog";
@import "oneCar";
@import "footer";
@import "bookingModal";
@import "contactForm";
@import "membership";
@import "specialOffers";
@import "bookingFeedback";
$graycolor: #cecece;
$redcolor: #e52528;

@mixin display-grid {
  display: -ms-grid;
  display: grid;
}
@mixin tablet {
  @media only screen and (min-width: 400px) {
    @content;
  }
}
html {
  padding: 0;
  width: 100%;
  body {
    margin: 0;
    background-color: #cecece !important;

    li {
      font-family: "Kanit", sans-serif;
    }
    p {
      font-family: "PT Sans", sans-serif;
      @include desktop {
        font-size: 16pt;
        
      }
    }
    h2 {
      font-size: 19pt;
      text-align: center;
      @include desktop {
        font-size: 22pt;
        
      }
    }
    h1,
    h2,
    h3,
    h4,
    h5,
    label {
      font-family: "Questrial", sans-serif;
    }
    .close-button span {
      color: white;
      z-index: 300;
      position: absolute;
      right: 2rem;
    }
  }
}
