@import "home";
@import "inventory";
@import "finance";
@import "about";
@import "header";
@import "sidebar";
@import "toggleButton";
@import "backdrop";
@import "blog";
@import "oneCar";
@import "footer";
@import "bookingModal";
@import "contactForm";

$graycolor: #cecece;
$redcolor: #e52528;

@mixin display-grid {
  display: -ms-grid;
  display: grid;
}

body {
  line-height: 0;
  background-color: #cecece !important;
  h2 {
    font-size: 19pt;
    text-align: center;
  }
  .close-button span {
    color: white;
    z-index: 300;
    position: absolute;
    right: 2rem;
  }
}
