@mixin flex-display {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
@mixin display-grid {
  display: -ms-grid;
  display: grid;
}

.landing-page-footer {
  background-color: #fff;

  .soMe {
    @include display-grid;
    grid-template-columns: repeat(2, 1fr);

    .l-footer {
      #car-back {
        width: 100%;
      }
    }
    .contactinfo-container {
      //padding: 0.6em;
      .soMe-icons {
        @include flex-display;
        
        img {
          width: 30px;
        }
        #fb {
          width: 18px;
        }
      }
      .phone-address{
        margin-top: 15px;
        margin-left: 10px;
      .phone,
      .address {
        display: flex;
        
        img {
          height: 20px;
          width: 15px;
        }
        p {
          padding-left: 6px;
        }
      }
    }}
  }
}
