@mixin flex-display {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.l-footer {
  background-color: #fff;
  #car-back {
    width: 60%;
  }
  .soMe {
    display: grid;
    grid-gap: 30px;
    width: 100%;

    .soMe-icons {
      @include flex-display;
      background-color: #cecece;
      padding: 1em;
      img {
        width: 30px;
      }
      #fb {
        width: 18px;
      }
    }
    .phone,
    .address {
      display: flex;
      justify-content: center;
      img {
        height: 20px;
        width: 15px;
      }
      p {
        padding-left: 1em;
      }
    }
  }
}
